@font-face {
  font-family: Merienda-Regular;
  src: url("fontes/Merienda-Regular.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("/fontes/Roboto-regular.ttf");
}

/*----------------------------------------------------header----------------------------------------------------------------------*/

#topo {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#9a031e, #e3170a);
  border-bottom: 10px solid #000;
  box-shadow: 0 3px 6px 2px rgba(0,0,0, 0.50);
  position:relative;
}

#inPesquisa {
  position: absolute;
  right: 50px;
  top: 30px;
  width: 300px;
  height: 35px;
  box-shadow: 1px 3px 6px 2px rgba(0,0,0, 0.50);
  font-family: Merienda-Regular, cursive;
  color: rgba(0, 0, 0, .7);
}

.logo {
  width: 250px;
  height: 250px;
  margin: 0;
  position: absolute;
  left: 50px;
  top: 10px;
  border-radius: 1000px;
  border: 10px solid #000;
  box-shadow: 0 3px 6px 3px rgba(0,0,0, 0.50);
}

#navBar ul {
  padding: 0;
  margin: 0;
  color: #000;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 400px;
}

#navBar ul li {
  display: inline;
  text-align: center;
  position: relative;
  margin-left: 5px;
}

#navBar ul li a {
  display: inline-block;
  width: 150px;
  height: 40px;
  padding: 5px 15px;
  margin: 3px;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 30px;
  font-family: Merienda-Regular, cursive;
  color: #000;
  transition: .1s;
}

#navBar ul li a:hover {
  border: 2px solid #000;
  border-radius: 2px;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: rgba(0, 0, 0, .6);
  color: white;
}

/*--------------------------------------------------------body------------------------------------------------------------------------*/

body {
  background-color: #3e363f;
}

#divGeral {
  min-height: 100%;
  position: relative; /*o footer será referenciado pela posição da divGeral*/
  padding-bottom: 100%;
}

#divCorpo {
  display: inline;
}

#divPosts, #divCategorias {
  box-shadow: 0 3px 4px 3px rgba(0,0,0, 0.50);
  background: #fff;
}

/*---------------------------------------------------------divPosts--------------------------------------------------------------*/

#divPosts {
  margin: 60px;
  margin-top: 80px;
  margin-right: 0;
  display: flex;
  width: 65%;
  height: 1300px;
  float: left;
  text-align: center;
  overflow: auto;
}

.post {
  width: 95%;
  margin: 20px;
  height: 700px;
  background: #FAF9F9;
  border-radius: 2px;
  text-align: center;
  position: relative;
}

/*---------------header---------------------------*/

.cabeçalhoPost {
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 3px 4px 3px rgba(0,0,0, 0.50);
  border-radius: 2px;
  position: relative;
  text-align: center;
}

.dataPost, .tituloPost {
  height: 90%;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0, 0.50);
}

.dataPost {
  width: 20%;
  position: absolute;
  float: left;
}

.tituloPost {
  width: 77%;
  float: right;
}

.data, .titulo {
  font-family: Merienda-Regular, cursive;
  font-size: 37px;
  margin: 0;
}

.data {
  color: #e3170a;
}

.titulo {
  position: absolute;
  top: 27px;
  margin: 0 20px;
}

/*--------------------------------------------------*/

.post #img {
  background: url("../imagens/tkd.jpg") no-repeat center;
  background-size: contain;
  height: 30%;
  max-width: 90%;
  border-radius: 3px;
  margin: 20px;
}

.post p {
  font-size: 18px;
  font-weight: 100;
  width: 90%;
  margin:32px;
  padding: 0;
  font-family: Roboto-Regular, sans-serif;
}

.btnPost {
  position: absolute;
  right: 2px;
  bottom: 120px;
  margin: 5px;
  padding: 2px 5px;
  font-size: 20px;
  font-family: Merienda-Regular, cursive;
  color: #e3170a;
  border: 2px solid #e3170a;
  border-radius: 2px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
  transition: .2s;
}

.btnPost:hover {
  background-color: #e3170a;
  color: #000;
  cursor: pointer;
}

.rodapePost {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 3px 4px 3px rgba(0,0,0, 0.50);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  display: block;
}

.rodapePost h3 {
  position: absolute;
  margin: 0;
  top: 5px;
  left: 5px;
  font-size: 20px;
  font-family: Merienda-Regular, cursive;
}

.rodapePost .tag {
  position: relative;
  float: left;
  top: 47px;
  margin: 4px 5px;
  font-size: 17px;
  font-family: Roboto-Regular, sans-serif;
  color: #e3170a;
}

.tag:link {
  color: #e3170a;
}

.tag:visited {
  color: #9a031e;
}

.tag:hover {
  color: #F70000;
  cursor: pointer;
}

.tag:active {
  color: #9a031e;
}


/*---------------------------------------------------------divCategorias--------------------------------------------------------------*/

#divCategorias {
  margin: 10px;
  margin-top: 80px;
  width: 28%;
  height: 500px;
  float: right;
  padding-top: 0;
}

/*-------------------------header--------------------------*/
#divCategorias header {
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 3px 2px rgba(0,0,0, 0.50);
    position: relative;
}

#divCategorias header h1 {
  font-size: 30px;
  font-family: Merienda-Regular, cursive;
  position: absolute;
  left: 5px;
  margin: 10px;
  margin-top: 15px;
}

#imgCategorias {
  margin: 10px;
  width: 17%;
  height: 74%;
  position: absolute;
  right: 10px;
}

/*-------------------------secCategorias----------------------*/

#secCategorias {
  display: grid;
  padding: 10px;
}

.tag {
  font-family: Roboto-Regular, sans-serif;
  font-size: 20px;
  margin: 10px;
  color: #9a031e;
  border-bottom: 2px solid #e3170a;
  border-radius: 2px;
}

.tag:visited {
  color: #e3170a;
}

.tag:hover {
  color: #F70000;
  cursor: pointer;
}

/*---------------------------------------------------footer--------------------------------------------------------------------------*/

#footerPagina {
  height: 150px;
  width: 100%;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#e3170a, #9a031e);
  border-top: 10px solid #000;
  box-shadow: 0 3px 6px 2px rgba(0,0,0, 0.50);
  transition: .5s;
}

/*--------------------------------------------------breakpoints-----------------------------------------------------------------------*/

@media(max-width: 1240px) {
  .titulo, .data {
    font-size: 25px;
  }

  #divPosts {
    margin: 20px;
    margin-top: 80px;
  }

  #divCategorias {
    width: 20%;
    margin-right: 30px;
  }

  #divCategorias header h1 {
    font-size: 20px;
  }

  #imgCategorias {
    visibility: hidden;
  }

  .tag {
    font-size: 15px;
  }

  #divCategorias header {
    height: 50px;
  }
}

@media(max-width: 1100px) {
  #footerPagina {
    visibility: hidden;
  }
}

@media(max-width: 1000px) {
  .logo {
    height: 150px;
    width: 150px;
    left: 10px;
  }

  #navBar ul {
    left: 200px;
  }

  #navBar ul li a {
    font-size: 20px;
    padding: 5px 0;
    margin: 0;
  }

  #inPesquisa {
    width: 150px;
    height: 25px;
    top: 20px;
  }

  .post {
    height: 900px;
  }
}

@media(max-width: 700px) {
  #divCategorias header h1 {
    font-size: 15px;
  }

  .data, .titulo {
    font-size: 20px;
  }

  .post p {
    font-size: 15px;
  }

  .rodapePost .tag {
    font-size: 15px;
  }

}
