@font-face {
  font-family: Roboto-Regular;
  src: url("/fontes/Roboto-regular.ttf");
}

@font-face {
  font-family: Merienda-Regular;
  src: url("fontes/Merienda-Regular.ttf");
}

body {
  text-align: center;
  background-image: url("../imagens/wpp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto-Regular, sans-serif;
}

#formLogin {
  width: 20em;
  height: 20em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10em;
  margin-top: -8em;
  padding: .5px;
  padding-bottom: 0;
  text-align: center;
  display: block;
  border-radius: .2em;
  background: #fff;
  box-shadow: 0 5px 6px 3px rgba(0,0,0, 0.50);
}

#divCadastro {
  width: 20em;
  height: 28em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10em;
  margin-top: -8em;
  padding: .5px;
  padding-bottom: 0;
  text-align: center;
  display: block;
  border-radius: .2em;
  background: #FFF;
  box-shadow: 0 5px 6px 3px rgba(0,0,0, 0.50);
}

#inputLogin {
  margin: 30px 0;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}

#divCadastro h3 {
  margin-top: 35px;
  margin-bottom: 10px;
}

#btnCadastrar {
  width: 150px;
  height: 35px;
  padding: 2px;
  margin-top:30px;
}

#inputLogin {
  border: 1.5px solid #000;
  color: #000;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: .5s;

}

#inputLogin:hover {
  color: #fff;
  background-color: #1C1C1C;
}

input {
  margin-top: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #444444;
  border-radius: 3px;
  transition: .3s;
  transition-timing-function: ease-in;
  color: #444444; 
}

input:focus {
  border-bottom: 2px solid #fca311;
}

span {
  color: red;
}
/*----------------------------------------------titulo--------------------------------------*/
h1 {
  font-family: Merienda-Regular, cursive;
  font-size: 80px;
  color: #fca311;
  text-shadow: 4px 5px 6px #000;
  margin-bottom: 0;
}

h3 {
  font-family: Merienda-Regular, cursive;
  color: #14213d;
}
/*-------------------------------------------------------------------------------------*/
h2 {
  font-weight: 100;
  margin-bottom: .3em;
}

h4 {
  margin-top: 0em;
  margin-bottom: 0;
  font-weight: 200;
  cursor: pointer;
  color: #000;
  transition: .2s;
}

h4:hover {
  color: #fca311;
}

/*---------------------------------------breakpoints----------------------------------*/

@media (max-width: 700px) {
  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 15px;
  }
}
