@import url("/stylesheets/estrutura.css");

/*---------------------------------------------------------divPosts--------------------------------------------------------------*/

#divPosts {
    position: relative;
}

span {
    color: red;
}
/*---------------header---------------------------*/

.tituloPost {
    background: #fff;
    width: 98%;
    height: 10%;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0, 0.50);
}

h1 {
    font-family: Merienda-Regular, cursive;
    font-size: 37px;
}

/*--------------------------------------POST------------------------------------------------------------*/

#img {
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    height: 30%;
    max-width: 95%;
    border-radius: 3px;
    margin: 20px;
}


p {
    font-size: 18px;
    font-weight: 100;
    width: 90%;
    margin:32px;
    padding: 0;
    font-family: Roboto-Regular, sans-serif;
}

/*----------------------------------------------FOOTER-----------------------------------------------------*/

.rodapePost {
    width: 100%;
    height: 80px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 3px 4px 3px rgba(0,0,0, 0.50);
    border-radius: 2px;
    display: block;
}

.rodapePost h3 {
    margin: 0;
    top: 5px;
    left: 5px;
    font-size: 20px;
    font-family: Merienda-Regular, cursive;
}

.rodapePost .tag {
    float: left;
    top: 47px;
    margin: 4px 5px;
    font-size: 17px;
    font-family: Roboto-Regular, sans-serif;
    color: #e3170a;
}

.tag:link {
    color: #e3170a;
}

.tag:visited {
    color: #9a031e;
}

.tag:hover {
    color: #F70000;
    cursor: pointer;
}

.tag:active {
    color: #9a031e;
}

/*-------------------------------------------COMENTARIOS--------------------------------------------*/

.divTodosComentarios {
    width: 100%;
    text-align: center;
    display: block;
    background: #fff;
    box-shadow: 0 3px 4px 3px rgba(0,0,0, 0.50);
    border-radius: 2px;
    margin: 20px 0;
    position: absolute;
}

.divComentario {
    text-align: left;
    margin: 10px 0;
}

.nomeUsuarioComentario {
    font-family: Merienda-Regular, cursive;
    font-size: 13px;
}

.comentario {
    font-family: Roboto-Regular, sans-serif;
    font-size: 10px;
}

.divTodosComentarios h1 {
    font-size: 20px;
}

.divComentario p {
    max-width: 90%;
}

/*------------------------------------------CRIAR COMENTARIOS-----------------------------------------------*/

.divCriarComentario {
    width: 96%;
    text-align: left;
    bottom: 5px;
    margin: 10px 0 10px 5px;
    display: block;
    padding: 10px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0, 0.50);
    border-radius: 2px;
}

h3 {
    font-family: Merienda-Regular, cursive;
    font-size: 18px;
}

textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 50px;
    max-height: 120px;
    margin: 7px;
    border: 2px solid #444444;
    border-radius: 3px;
    transition: border-bottom .3s;
    transition-timing-function: ease-in;
    color: #444444;
    decoration: none;
}

textarea:focus {
    border: 2px solid #e3170a;
    box-shadow: none;
}

.btnEnviarComentario, .btnExcluirComentario {
    padding: 2px 5px;
    font-size: 20px;
    margin: 10px;
    font-family: Merienda-Regular, cursive;
    color: #e3170a;
    border: 2px solid #e3170a;
    border-radius: 2px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
    transition: .2s;
}

.btnEnviarComentario:hover, .btnExcluirComentario:hover {
    background-color: #e3170a;
    color: #000;
    cursor: pointer;
}